@use "./../utils/variables.scss" as v;

@media (max-width: 900px) {
  .home-page {
    h1 {
      padding: 1rem;
    }
    hr {
      color: v.$fifthcolor;
      padding: 0;
      margin: -1.5px;
    }

    .btn {
      font-size: v.$small;
      padding: 0.2rem 0.5rem;
    }
  }

  section {
    padding: 1rem 1rem 2rem 1rem;
    background-image: linear-gradient(v.$thirdcolor, v.$fourthcolor);
    // height: 25vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h3 {
      font-size: v.$h3;
      font-weight: 300;
      line-height: 1.05;
      span {
        margin-left: 0.5rem;
        font-size: v.$small;
        background: transparent;
        color: v.$firstcolor;
        cursor: pointer;
      }
    }
  }
  .about-text {
    line-height: v.$p-lh;
    font-size: v.$p;
    p {
      margin: 0 0 1rem 0;
    }
  }

  .hide {
    display: none;
  }
  .link-wrapper {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .unfolded {
    //height: 84vh;
    height: fit-content;
    font-size: v.$small;
    color: v.$dark;
  }
}

@media (min-width: 900px) {
  .home-page {
    .link-wrapper {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
    section {
      background-image: linear-gradient(v.$thirdcolor, v.$fourthcolor);
      padding: 3.5rem 0 4.5rem 0;

      h3 {
        margin: 0 auto 2rem auto;
        font-size: v.$h1-sc;
        font-weight: 300;
        letter-spacing: -2.4px;
        line-height: 95%;
        max-width: 800px;
        span {
          margin-left: 1rem;
          font-size: v.$small-sc;
          background: transparent;
          color: v.$firstcolor;
          letter-spacing: 0;
          cursor: pointer;
        }
      }
    }

    .hide {
      display: none;
    }
    .about-text {
      margin: 0 auto;
      justify-content: center;
      max-width: 800px;
      margin-bottom: 2rem;
    }

    .unfolded {
      // height: 40rem;
      height: fit-content;
      font-size: v.$small-sc;
      color: v.$dark;
    }

    small {
      font-size: v.$small-sc;
    }

    hr {
      color: v.$fifthcolor;
      padding: 0;
      margin: -1.5px;
    }

    .link-wrapper {
      margin-top: 3rem;
    }
  }
}
