@use './../utils/variables.scss' as v;

h1 {
  padding: 1rem;
}

.map-container {
  padding: 2rem;
  width: 100vw;
  height: 300px;
  background-color: #bababa;
}

@media (max-width: 900px) {
  .map-container {
    padding: 2rem;
    width: 100vw;
    height: 200px;
    background-color: #bababa;
  }
  h3 {
    font-size: v.$h3;
    font-weight: 300;
    line-height: 1.05;
  }
  section {
    margin: 2rem 1rem 1rem 1rem;
  }
}

.link-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
