@use './../utils/variables.scss' as v;
.library-detail-page {
  h1 {
    font-size: v.$h1;
    margin-left: 0.7rem;
    @media (min-width: 900px) {
      text-align: center;
      font-size: v.$h1-sc;
    }
  }

  .library-extended-view {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

    .sound-library-empty-state {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0.7rem;
      gap: 2rem;
      padding-bottom: 4rem;
      @media (min-width: 450px) {
        margin: 0 auto;
      }
      a {
        // font-size: v.$h4;
        color: white;
      }
      h4 {
        padding-bottom: 0.6rem;
        font-size: v.$h4;
        line-height: v.$h4-lh;
        @media (min-width: 900px) {
          font-size: v.$h4-sc;
        }
      }
      .btn {
        height: 2.4rem;
        p {
          padding-bottom: 0.1rem;
          margin: 0;
          text-align: center;
        }
      }
    }

    .edit-delete-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1.1rem;
      align-items: center;
      margin: 1.8rem 1.25rem;
    }
    /*     .delete {
      background-color: v.$secondcolor;
    } */

    .remove-btn {
      font-size: 1.5rem;
      background-color: transparent;
      color: v.$dark;
    }

    .btn-light {
      color: white;
      background-color: #848484;
      font-size: v.$p;
    }
    .btn-light:hover {
      color: black;
      background-color: v.$fifthcolor;
    }

    .btn-dark {
      color: v.$thirdcolor;
      background-color: v.$dark;
      padding: 0.3rem 0.8rem 0.4rem 0.8rem;
      border-radius: 2rem;
    }

    .btn-dark:hover {
      background-color: #4f4f4f;
    }
  }
}
