@use './../utils/variables.scss' as v;

.login-form {
  height: 100vh;
  background-color: v.$fourthcolor;
  color: black;
  h1 {
    padding-top: 3.2rem;
    margin-block-start: 0em;
    margin-left: 1rem;
  }
  button {
    padding: 0.5rem 1rem;
    color: white;
  }
  label {
    margin-left: 1rem;
  }
}
