@use './../utils/variables.scss' as v;

.login-form-wrapper {
  height: 100vh;
  background-image: linear-gradient(v.$thirdcolor, v.$fourthcolor);
  .login-form {
    padding: 0 1rem 2rem 1rem;
    color: v.$dark;
    h1 {
      padding-top: 2rem;
      margin-block-start: 0em;
    }
    button {
      padding: 0.5rem 1rem;
      color: white;
    }
  }
}

@media (min-width: 900px) {
  .login-form-wrapper {
    height: 100vh;
    background-image: linear-gradient(v.$thirdcolor, v.$fourthcolor);

    .login-form {
      margin: 0 auto;
      padding: 04.5rem 1rem 2rem 1rem;
      max-width: 800px;

      color: v.$dark;
      h1 {
        font-size: v.$h1-sc;
        padding-top: 2rem;
        margin-block-start: 0em;
      }
      button {
        padding: 0.5rem 1rem;
        color: white;
      }
    }
  }
}
