@use './../utils/variables.scss' as v;

.background {
  background-color: v.$thirdcolor;
}

.message-sent {
  background-color: v.$firstcolor;
  color: white;
  align-self: flex-end;
}

.message-received {
  background-color: white;
}

.message-sent,
.message-received {
  margin: 1rem 0;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  max-width: 70vw;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.1);
}

.message-list {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  small {
    font-size: v.$small;
    letter-spacing: 0.5px;
  }
}

.message-user {
  margin: 1rem 0 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;

  img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
  }
}
.send-form {
  padding-top: 1rem;
}
