@use './../utils/variables.scss' as v;

.message-thread-list {
  h1 {
    font-size: v.$h1;
    margin: 1rem 1rem;
    @media (min-width: 900px) {
      font-size: v.$h1-sc;
      letter-spacing: -1.5px;
      margin: 2rem 33%;
    }
  }

  li {
    list-style: none;
    font-size: 2rem;
    margin: 0.1rem 0;
    @media (min-width: 900px) {
      margin: 0.1rem auto;
      max-width: 600px;
    }
  }
  a {
    color: white;
  }

  .message-empty-state-wrapper {
    // @media (min-width: 900px) {
    background-image: linear-gradient(v.$thirdcolor, v.$fourthcolor);
    display: flex;
    width: 100vw;
    height: 95vh;
    margin: 0;
    .message-empty-state {
      margin: auto auto;
      width: 80vw;
      display: flex;
      flex-direction: column;
      gap: 5rem;
      .div {
        width: 90vw;
      }
      h1 {
        margin: 0;
        text-align: center;
        font-size: v.$h1;
        @media (min-width: 900px) {
          font-size: v.$h1-sc;
        }
      }
      .btn {
        margin: 0 auto;
      }
    }

    // }
  }
}
