@use "./../utils/variables.scss" as v;

.profile-page-div {
  .profile-header {
    padding: 0 2rem;
    margin-top: 4rem;

    h1 {
      font-size: v.$h1;
      @media (min-width: 900px) {
        margin-top: 0;
        font-size: v.$h1-sc;
      }
    }

    .profile-header-top {
      @media (min-width: 900px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .profile-aside {
        max-width: 35rem;
      }
    }

    .profile-img-div {
      display: flex;

      @media (min-width: 900px) {
        flex-direction: column;
        margin-right: 4rem;
      }

      .edit-profile-div {
        @media (min-width: 900px) {
          margin-top: 1rem;
        }

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: 1rem;

        .edit-btn {
          margin: 0;
          width: 9rem;
          height: 2.5rem;
          color: black;
          background-color: v.$thirdcolor;
        }

        .edit-btn:hover {
          background-color: v.$fifthcolor;
        }

        #follower {
          margin-bottom: 1rem;
          // @media (min-width: 900px) {
          //   marg
          //   display: flex;
          //   justify-content: left;
          //   gap: 1rem;
          // }
        }

        small {
          margin: 0;
          line-height: 0.2rem;
          font-size: 1rem;
          margin-left: 0.5rem;
        }
      }
    }

    img {
      width: 7rem;
      height: 7rem;
      object-fit: cover;
      border-radius: 50%;
      border-width: 3px;
      border-style: solid;
      border-color: v.$firstcolor;

      @media (min-width: 900px) {
        width: 20rem;
        height: 20rem;
      }
    }

    #profile-message-follow-div {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      justify-content: space-between;
      @media (min-width: 900px) {
        justify-content: flex-start;
      }

      div {
        margin-left: 0;
      }

      a,
      button {
        font-size: 1rem;
        height: 2.4rem;
        @media (min-width: 900px) {
          margin-right: 2rem;
        }
      }

      button {
        background-color: v.$green;
        margin-right: 1rem;
      }
      button:hover {
        background-color: v.$green-hover;
      }

      .red-btn {
        background-color: v.$secondcolor;
      }

      .red-btn:hover {
        background-color: v.$secondcolor-hover;
      }
    }
  }

  p {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .profile-bottom-div {
    margin-top: 2rem;

    @media (min-width: 900px) {
      margin-top: 4rem;
      padding: 0 1rem;
    }

    h3 {
      font-weight: 400;
      margin-bottom: 0.8rem;
      margin-left: 2rem;

      @media (min-width: 900px) {
        font-size: v.$h1-sc;
        margin-bottom: 3rem;
      }
    }

    @media (min-width: 900px) {
      display: flex;
      gap: 1rem;
    }

    #profile-sounds-div {
      margin-top: 1rem;
    }

    audio {
      @media (min-width: 900px) {
        min-width: none;
        max-width: 45vw;
      }
    }

    .map-wrapper-div {
      @media (min-width: 900px) {
        display: flex;
        justify-content: center;
        width: 50vw;
        object-fit: cover;
        overflow: hidden;
      }
    }

    #profile-libraries {
      flex-grow: 1;

      h3 {
        margin-bottom: 0;
        @media (min-width: 900px) {
          margin-bottom: 4rem;
        }
      }

      a {
        line-height: 20px;
        color: black;
        margin: 0.75rem;
        font-size: 1rem;
      }
      div {
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: v.$thirdcolor;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: -1px;

        small {
          color: v.$firstcolor;
          font-size: v.$small;
          margin-right: 1rem;
        }
      }
    }
  }
}
.hide {
  display: none;
}
