@use './../utils/variables' as v;

.profile-search-page {
  height: 100vh;
  background-color: v.$fourthcolor;
  color: v.$dark;
}

.profile-search-form {
  input {
    width: 92vw;
    max-width: 600px;
  }
  label {
    opacity: 0;
    font-size: 1px;
    position: absolute;
    z-index: -9999;
  }
}

.search-input-container {
  margin: 8rem auto 0 auto;
  position: relative;
}
.search-results {
  width: 92vw;
  max-width: 600px;
  margin: 0 auto;
}
