@use './../utils/variables' as v;
.sound-search-wrapper {
  background-image: linear-gradient(v.$thirdcolor, v.$fourthcolor);
  height: 100vh;
  flex: 1;
  overflow: auto;
}

.sound-search-page {
  .top-part {
    max-width: 800px;
    margin: 0 auto;
  }

  h1 {
    margin-block-start: 0em;
    margin-bottom: 0;
    padding: 2rem 1rem 2rem 1rem;
  }
}

.input-search-term {
  display: flex;
  justify-content: center;
  input {
    width: 90vw;
    max-width: 600px;
  }
}

.quality-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 1rem 0rem 1rem;
  padding-bottom: 2rem;
}

#quality-button label span {
  background-color: white;
  float: none;
  color: v.$dark;
  font-size: v.$p;
  padding: 0.2em 1.2em;
  border-radius: 2em;
}

#quality-button label span {
  text-align: center;
  display: block;
  border-radius: 2em;
}

// use this style only for widescreen

/* #ck-button input:hover + span {
    background-color: v.$firstcolor;
    color: #fff;
  } */

#quality-button input:checked + span {
  background-color: v.$firstcolor;
  color: #fff;
}

#quality-button input:checked:hover + span {
  background-color: #6a2fb6;
  border-color: transparent;
  color: #fff;
}

.single-quality-button {
  margin: 0 0.5rem;
}
