@use './../utils/variables.scss' as v;

.sound-edit-page {
  background-image: linear-gradient(v.$fourthcolor, v.$thirdcolor);

  h1 {
    padding: 2rem 1rem 0 1rem;
    @media (min-width: 900px) {
      font-size: v.$h1-sc;
      line-height: v.$h1-lh;
      max-width: 800px;
    }
    margin: 0 auto 2rem auto;
  }
}
