// scss variables
// font sizes MOBILE (max-width 900px)

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.9rem;
$h4: 1.2rem;
$p: 1rem;
$small: 0.8rem;

// line-heights

$h1-lh: 100%;
$h2-lh: 105%;
$h3-lh: 105%;
$h4-lh: 120%;
$p-lh: 120%;
$small-lh: 120%;

// colors

$firstcolor: #8941e7;
$firstcolor-hover: #6c3fa8;
$secondcolor: #ff4747;
$secondcolor-hover: #bb1c1c;
$thirdcolor: #f0f3f4;

$fourthcolor: #ded1ee;

$fifthcolor: #b7b7b7;
$green: #36cd85;
$green-hover: #3caa75;
$dark: #303030;

// effects

$box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.1);

// font sizes SCREEN (min-width 900px)

$h1-sc: 4.5rem;
$h2-sc: 2rem;
$h3-sc: 1.9rem;
$h4-sc: 1.3rem;
$p-sc: 1rem;
$small-sc: 1.2rem;
