@use './../utils/variables.scss' as v;

.library-form {
  padding: 1rem;
  h1 {
    margin-bottom: 6.5rem;
  }

  @media (min-width: 900px) {
    margin: auto auto;
    width: 80vw;

    h1 {
      text-align: center;
      font-size: v.$h1-sc;
    }
    label {
      font-size: v.$small-sc;
    }

    // input[type='text'] {

    // }
  }
  button {
    @media (min-width: 900px) {
      margin: 0 auto;
      //   font-size: v.$h4-sc;
    }
  }
}
