@use "./../utils/variables.scss" as v;
.library-dropdown-div {
  form {
    label {
      margin: 1rem;
      line-height: v.$h2-lh;
    }
  }
  .library-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin: 0 auto;

    align-items: center;
    select {
      flex-grow: 2;
      margin-left: 0;
    }
  }

  button {
    margin-left: 1rem;
  }
  // .add-button {
  //   button {
  //     font-size: v.$h3;
  //     border-radius: 50%;
  //     height: 61px;
  //     width: 61px;
  //     margin-left: 1rem;
  //   }
  // }
}
