@use './../utils/variables.scss' as v;

.sound-form {
  @media (min-width: 900px) {
    .label-and-input {
      display: flex;
      flex-direction: column;
    }

    .name-and-date {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;

      .name-input {
        flex-grow: 1;
      }
    }
    main {
      max-width: 800px;
      margin: 0 auto;
    }

    .custom-file-upload {
      background-color: white;
      padding: 1.2rem;
      border-radius: 1rem;
      border: 1px solid v.$fifthcolor;
      width: 560px;
    }
    .sound-upload-input {
      max-width: 800px;
      margin: 0 auto;
    }

    .map-label {
      max-width: 487px;
      margin: 0 auto;
    }
    .checkbox-input {
      max-width: 600px;
      margin: 0 auto;
    }

    .quality-and-price {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;
    }
    .quality-input {
      width: 450px;
    }
    .price-input {
      width: 150px;
    }
  }

  .headline {
    padding-left: 1rem;
  }

  input[type='text'],
  input[type='date'],
  input[type='number'],
  select {
    margin: 0 1rem 1rem 1rem;
  }

  .custom-file-upload {
    margin: 0 1rem 1rem 1rem;
  }

  // Tags

  #publish-button label span {
    color: white;
    font-size: v.$small;
    padding: 0.2em 1.2em;
    border-radius: 2em;
  }
  #publish-button label span {
    text-align: center;
    display: block;
    justify-content: center;
    border-radius: 2em;
    background-color: v.$green;
  }
  #publish-button input:checked + span {
    background-color: v.$fourthcolor;
    color: #fff;
  }
  #publish-button input:checked:hover + span {
    background-color: v.$thirdcolor;
    border-color: transparent;
    color: v.$fifthcolor;
  }
  .publish-button {
    margin: 0 auto 1rem auto;
    max-width: fit-content;
  }
  .single-button {
    margin: 0.2rem 0.2rem 0 0;
  }
  .custom-name-label {
    margin-left: 1rem;
  }

  .create-button {
    margin: 1rem auto 2rem auto;
  }
}

@media (max-width: 900px) {
  form {
    display: flex;
    flex-direction: column;
  }

  .label-and-input {
    display: flex;
    flex-direction: column;
  }
  .name-and-date {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .custom-file-upload {
    background-color: white;
    padding: 1.2rem;
    border-radius: 1rem;
    border: 1px solid v.$fifthcolor;
  }
  .map-label {
    max-width: 487px;
    margin: 0 auto;
  }
  .checkbox-input {
    max-width: 600px;
    margin: 0 auto;
  }

  .quality-and-price {
    display: flex;
    flex-direction: column;
  }
}
