$primary-color: #cbcbcb;

.sound-card {
  padding: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: $primary-color;

  a {
    padding: 1rem;
    border: 1px solid black;
    margin-left: 1rem;
  }
}
