@use './../utils/variables.scss' as v;

.wrapper {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 1rem 2rem 1rem;
}

#ck-button label span {
  background-color: v.$fourthcolor;
  float: none;
  color: v.$dark;
  font-size: v.$small;
  padding: 0.2em 1.2em;
  margin: 0 0.2rem 0.2rem 0;
  /* border: 2px solid white; */
  border-radius: 2em;
}

#ck-button label span {
  text-align: center;
  display: block;
  border-radius: 2em;
}

// use this style only for widescreen

/* #ck-button input:hover + span {
  background-color: v.$firstcolor;
  color: #fff;
} */

#ck-button input:checked + span {
  background-color: v.$firstcolor;
  color: #fff;
}

#ck-button input:checked:hover + span {
  background-color: #6a2fb6;
  border-color: transparent;
  color: #fff;
}

.single-button {
  margin: 0.25rem 0.25em;
}
