@use './../utils/variables.scss' as v;

.wrapper {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

#ck-button {
  margin: 4px;
}

#ck-button label span {
  background-color: v.$fourthcolor;
  float: none;
  color: v.$firstcolor;
  font-size: v.$small;
  padding: 0.2em 1.2em;
  border: 2px solid white;
  border-radius: 2em;
}

#ck-button label span {
  text-align: center;
  display: block;
  border-radius: 2em;
}

#ck-button label input {
  // position: absolute;
  top: -20px;
}

#ck-button input:hover + span {
  background-color: v.$firstcolor;
  color: #fff;
}

#ck-button input:checked + span {
  background-color: v.$firstcolor;
  color: #fff;
}

#ck-button input:checked:hover + span {
  background-color: #6a2fb6;
  border-color: transparent;
  color: #fff;
}

.single-button {
  margin-right: 1em;
}
