@use './../utils/variables.scss' as v;

.message-card {
  background-color: v.$thirdcolor;
  color: #000;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
  gap: 2rem;
  line-height: 0.8rem;

  img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid v.$firstcolor;
  }

  small {
    font-size: v.$small;
    color: v.$firstcolor;
    line-height: 0;
  }

  h4 {
    font-size: v.$h4;
  }
}
