*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5rem;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
button {
  font: inherit;
  border: 1px solid #dadada;
  line-height: inherit;
  color: inherit;
  padding: 1rem;
  background: transparent;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}
